body {
    background-color: #CBE6EF;
}

h1 {
    text-align: center;
    font-size: 4.2em;
    margin-top: -0.12em;
    margin-bottom: 1.5em;
    color: #354b46;
    text-decoration: underline 0.07em #e1b0c7;
}

@media screen and (max-width: 425px) {

    body {
        text-align: center;
    }

    h1 {
        width: 100%;
        display: flex;
            justify-content: center;
        flex-wrap: wrap;
  }
}

h3 {
    font-size: 3em;
    color: #334a52;
    text-decoration: underline 0.07em #e1b0c7;
}

.registrierung {
    display: inline-block;
    padding-right: 6em;
    margin-left: 7.5em;
}

.anmeldung {
    display: inline-block;
    margin-left: 7.5em;
}

input[type="text"] {
    font-size: 2em;
    border-radius: 10px;
    max-width: 8em;
    padding-bottom: 0.2em;
    margin-bottom: 1.3em;
}

input[type="submit"] {
    border-radius: 10px;
    font-size: 2em;
    background-color: #e1b0c7;
    margin-bottom: 2.5 em;    
}

input[type="submit"]:hover {
    background-color: #ecdcf3;
}

.ohne {
    font-size: 2em;
    display: inline-block;
    padding-right: 1em;
}
