body {
    background-color: #2F2FA2;
}

h1 {
    color: white;
    text-align: center;
    font-size: 4em;
}

.select_file{
    color: white;
    font-size: 2.5em;
}
.select_school{
    color: white;
    font-size: 2.5em;
}

.select_subject{
    color: white;
    font-size: 2.5em;
}

input[type="file"]{
    font-size: 0.6em;
    color: red; 
}

input[type="submit"]{
    font-size: 1.2em;
    color: white; 
    background-color: #F64C72;
}